/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d3557;
    color: #ffffff;
}

/* Navbar Styles */
header .logo {
    font-size: 1.5rem; /* Same font size for logo */
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: #020202;
    font-size: 1.1rem; /* Ensure same font size */
    text-transform: uppercase;
    padding: 10px 20px; /* Same padding for all links */
    transition: background-color 0.3s ease, color 0.3s ease;
    letter-spacing: 0.1em;
}

/* Hover effect for general links */
.nav-links a:hover {
    background-color: #457b9d; /* Set background color on hover */
    color: #ffffff; /* Change text color to white on hover */
}

/* Active link style */
.nav-links a.active {
    background-color: #000000; /* Keep background color for active link */
    color: #ffffff; /* Change text color to white for active link */
    padding: 10px 20px;
    border-radius: 5px;
}

/* Line effect under the Study link */
.nav-links a:nth-child(2) {
    display: inline-block;
    position: relative;
}

.nav-links a:nth-child(2)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

/* Hover effect for the Study link */
.nav-links a:nth-child(2):hover::after {
    width: 100%; /* Expand the underline on hover */
}

/* Remove the tooltip effect */
.nav-links a::after {
    content: none; /* No tooltip */
}

/* Content Section */
.content {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjust for header */
}

.procedure-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 1200px;
}

.image-section {
    position: relative;
}

.black-box {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    max-width: 600px;
}

.text-section h2 {
    font-size: 1.2rem;
    color: #fcad8b;
    margin: 0;
}

.text-section p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
}

#model-viewer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#model-viewer {
    width: 100%;
    height: 100%;
}
